<div x-data="{ nombre: 'Mario', email: 'mario@email.com'}" x-init="nombre = 'Mario giron'">
    <p x-text="nombre"></p>
</div>

<div x-data="mainComp()" x-init="start()">
  <p x-text="usuario"></p>
</div>

<script>
  function mainComp() {
        return {
            usuario: null,
            start: function() {
                console.log('Arranca la mandanga!');
                this.usuario = 'Benito';
              }
          }
      }
</script>
