<div class="flex items-center justify-center h-screen">
  <div class="">
    <label for="location" class="block text-sm font-medium text-gray-700">Location</label>
    <select id="location" name="location" class="block w-64 py-2 pl-3 pr-10 mt-1 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
      <option>USA</option>
      <option selected>Canada</option>
      <option>EU</option>
    </select>
  </div>
</div>
